#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toast__box {
  height: 50px;
  width: 250px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  padding: 0px 10px;
}

.success {
  background-color: #22c35e;
}

.error {
  background-color: #E53E3E;
}

.right-top {
  position: fixed;
  right: 20px;
  top: 20px;
  /* background-color: yellow; */
}

.right-bottom {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.left-top {
  position: fixed;
  left: 20px;
  top: 20px;
}

.left-bottom {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.close_btn {
  cursor: pointer;
}

.toast__container {
  z-index: 2147483647;
}

.toast__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.action__btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0px 10px;
}