#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toast__box {
  height: 50px;
  width: 250px;
  background-color: aquamarine;
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.right-top {
  position: fixed;
  right: 20px;
  top: 20px;
  /* background-color: yellow; */
}

.right-bottom {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.left-top {
  position: fixed;
  left: 20px;
  top: 20px;
}

.left-bottom {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.close_btn {
  background-color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.toast__container {
  z-index: 2147483647;
}